<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<header th:insert="fragments.html :: nav"></header>

<h1>STUDENT ADVISING</h1>


<tr th:each="rou: ${routine}">

    <span th:if="${#strings.contains(rou.saturday, '9.30 AM')}" th:text="${rou.courseCode}"></span>
</tr>




<H1>ROUTINE</H1>
<table border="2" cellspacing="3" align="center">
    <tr>
        <td align="center">
        <td>SATURDAY
        <td>SUNDAY
        <td>MONDAY
        <td>TUESDAY
        <td>WEDNESDAY
        <td>THURSDAY

    </tr>
    <tr>
        <td align="center">8.00 AM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>
    <tr>
        <td align="center">9.30 AM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>
    <tr>
        <td align="center">11.00 AM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>
    <tr>
        <td align="center">12.30 PM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>
    <tr>
        <td align="center">2.00 PM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>
    <tr>
        <td align="center">3.30 PM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>
    <tr>
        <td align="center">5.00 PM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>


</table>

<h1>COURSESSS</h1>
<div th:switch="${courses}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Courses</h2>
        <table>
            <thead>
            <tr>
                <th>Course Code</th>
                <th>Course Title</th>
                <th>Section</th>
                <th>Faculty</th>
                <th>Final Exam</th>
                <th>Routine</th>
                <th>Add Course</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${courses}">





                <td th:text="${course.courseCode}"></td>
                <td th:text="${course.courseTitle}"></td>
                <td th:text="${course.section}"></td>
                <td th:text="${course.faculty}"></td>
                <td th:text="${course.examTime}"></td>
                <td th:text="${course.saturday}"></td>
                <td th:text="${course.sunday}"></td>
                <td th:text="${course.monday}"></td>
                <td th:text="${course.tuesday}"></td>
                <td th:text="${course.wednesday}"></td>
                <td th:text="${course.thursday}"></td>
                <td><a th:href="@{/student/advising-panel/add-course/{id}(id=${course.id})}">Add</a></td>

            </tr>
            </tbody>
        </table>
    </div>

</div>


</body>


</html>