<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Thymeleaf hello world</title>


</head>


<body>

<h1>STUDENT ADVISING</h1>
<a th:href="@{/logout}">Logout</a>


<H1>ROUTINE</H1>
<table border="2" cellspacing="3" align="center">
    <tr>
        <td align="center">
        <td>SATURDAY
        <td>SUNDAY
        <td>MONDAY
        <td>TUESDAY
        <td>WEDNESDAY
        <td>THURSDAY

    </tr>
    <tr>
        <td align="center">8.00 AM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>
    <tr>
        <td align="center">9.30 AM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>
    <tr>
        <td align="center">11.00 AM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>
    <tr>
        <td align="center">12.30 PM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>
    <tr>
        <td align="center">2.00 PM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>
    <tr>
        <td align="center">3.30 PM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>
    <tr>
        <td align="center">5.00 PM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>


</table>

<h1>COURSESSS</h1>
<div th:switch="${courses}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Courses</h2>
        <table>
            <thead>
            <tr>
                <th>Course Code</th>
                <th>Course Title</th>
                <th>Section</th>
                <th>Faculty</th>
                <th>Exam Day</th>
                <th>Exam Time</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${courses}">



                <span th:if="${#strings.contains(course.slot1,'SUNDAY')}"><p th:text="${course.courseCode}"></p></span>



                <td th:text="${course.courseCode}"></td>
                <td th:text="${course.courseName}"></td>
                <td th:text="${course.section}"></td>
                <td th:text="${course.faculty}"></td>
                <td th:text="${course.examDate}"></td>
                <td th:text="${course.examTime}"></td>


                <td><a th:href="@{/admin/edit-user/{id}(id=${course.id})}">Edit</a></td>
                <td><a th:href="@{/admin/delete-user/{id}(id=${course.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


</body>


</html>