


<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<header th:insert="fragments.html :: nav"></header>


<h1>STUDENT HOME</h1>



<a href="/student/advising-panel">Advising Panel</a><br>

<H1>ROUTINE</H1>
<table border="2" cellspacing="3" align="center">
    <tr>
        <td align="center">
        <td>SATURDAY
        <td>SUNDAY
        <td>MONDAY
        <td>TUESDAY
        <td>WEDNESDAY
        <td>THURSDAY

    </tr>

    <tr>
        <td align="center">8.00 AM
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '8.00 AM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '8.00 AM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '8.00 AM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '8.00 AM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '8.00 AM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '8.00 AM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>

    </tr>
    <tr>
        <td align="center">9.30 AM
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '9.30 AM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '9.30 AM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '9.30 AM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '9.30 AM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '9.30 AM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '9.30 AM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>

    </tr>
    <tr>
        <td align="center">11.00 AM
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '11.00 AM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '11.00 AM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '11.00 AM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '11.00 AM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '11.00 AM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '11.00 AM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>

    </tr>
    <tr>
        <td align="center">12.30 PM
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '12.30 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '12.30 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '12.30 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '12.30 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '12.30 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '12.30 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>

    </tr>
    <tr>
        <td align="center">2.00 PM
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '2.00 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '2.00 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '2.00 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '2.00 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '2.00 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '2.00 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>

    </tr>
    <tr>
        <td align="center">3.30 PM
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '3.30 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '3.30 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '3.30 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '3.30 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '3.30 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '3.30 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>

    </tr>
    <tr>
        <td align="center">5.00 PM
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '5.00 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '5.00 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '5.00 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '5.00 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '5.00 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>
        <td align="center"><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '5.00 PM')}" th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}" ></span> <br>

    </tr>
</table>



</body>


</html>