<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<header th:insert="fragments.html :: nav"></header>


<h1>STUDENT HOME</h1>


<a href="/student/advising-panel">Advising Panel</a><br>

<H1>ROUTINE</H1>
<table border="2" cellspacing="3">
    <tr>
        <td>
        <td>SATURDAY
        <td>SUNDAY
        <td>MONDAY
        <td>TUESDAY
        <td>WEDNESDAY
        <td>THURSDAY

    </tr>

    <tr>
        <td>08:00
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '08:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '08:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '08:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '08:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '08:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '08:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>

    </tr>
    <tr>
        <td>09:30
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '09:30')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '09:30')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '09:30')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '09:30')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '09:30')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '09:30')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>

    </tr>
    <tr>
        <td>11:00
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '11:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '11:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '11:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '11:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '11:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '11:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>

    </tr>
    <tr>
        <td>12:30
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '12:30')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '12:30')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '12:30')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '12:30')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '12:30')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '12:30')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>

    </tr>
    <tr>
        <td>14:00
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '14:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '14:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '14:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '14:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '14:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '14:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>

    </tr>
    <tr>
        <td>15:30
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '15:30')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '15:30')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '15:30')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '15:30')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '15:30')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '15:30')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>

    </tr>
    <tr>
        <td>17:00
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '17:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '17:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '17:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '17:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '17:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '17:00')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
    </tr>
</table>

</body>


</html>