


<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<header th:insert="fragments.html :: nav"></header>


<h1>STUDENT HOME</h1>
<p>student login success</p>

<a th:href="@{/logout}">Logout</a><br>


<a href="/student/advising-panel">Advising Panel</a><br>

<H1>ROUTINE</H1>
<table border="2" cellspacing="3" align="center">
    <tr>
        <td align="center">
        <td>SATURDAY
        <td>SUNDAY
        <td>MONDAY
        <td>TUESDAY
        <td>WEDNESDAY
        <td>THURSDAY

    </tr>
    <tr>
        <td align="center">8.00 AM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>
    <tr>
        <td align="center">9.30 AM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>
    <tr>
        <td align="center">11.00 AM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>
    <tr>
        <td align="center">12.30 PM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>
    <tr>
        <td align="center">2.00 PM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>
    <tr>
        <td align="center">3.30 PM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>
    <tr>
        <td align="center">5.00 PM
        <td align="center">SUB0<br>
        <td align="center">SUB1<br>
        <td align="center">SUB2<br>
        <td align="center">SUB3<br>
        <td align="center">SUB4<br>
        <td align="center">SUB5<br>

    </tr>


</table>



</body>


</html>