


<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<header th:insert="fragments.html :: nav"></header>



<form action="#" th:action="@{/admin/add-user-account}" th:object="${user}" method="post">

    <label for="name">Name</label><br>
    <input type="text" th:field="${user.name}" id="name" placeholder="Name" required><br>

    <label for="email">Email</label><br>
    <input type="text" th:field="${user.email}" id="email" placeholder="Email" required><br>
    <p th:if="${emailExists}" class="error">Email exists on another account</p>
    <p th:if="${garbageEmail}" class="error">Garbage email</p>

    <label for="password">Password</label><br>
    <input type="text" th:field="${user.password}" id="password" placeholder="Passowrd" required><br>

    <label for="mobile">mobile</label><br>
    <input type="text" th:field="${user.mobile}" id="mobile" placeholder="Mobile" required><br>
    <p th:if="${garbageMobile}" class="error">Garbage Mobile</p>

    <label for="dept">dept</label><br>
    <input type="text" th:field="${user.dept}" id="dept" placeholder="dept" required><br>

    <label for="credit">credit</label><br>
    <input type="text" th:field="${user.credit}" id="credit" placeholder="credit" required><br>

    <label for="role">role</label><br>
    <input type="radio" th:field="${user.role}" id="STUDENT" name="role" value="STUDENT">STUDENT<br>
    <input type="radio" th:field="${user.role}" id="TEACHER" name="role" value="TEACHER">TEACHER<br>
    <input type="radio" th:field="${user.role}" id="ADMIN" name="role" value="ADMIN">ADMIN<br>

    <label for="routine">routine</label><br>
    <input type="text" th:field="${user.routine}" id="routine" placeholder="routine"><br>

    <br>


    <input type="submit" value="Add User">
</form>



</body>


</html>