


<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Thymeleaf hello world</title>



</head>


<body>



<form action="#" th:action="@{/admin/add-user-account}" th:object="${user}" method="post">

    <label for="name">Name</label><br>
    <input type="text" th:field="${user.name}" id="name" placeholder="Name" required><br>

    <label for="email">Email</label><br>
    <input type="text" th:field="${user.email}" id="email" placeholder="Email" required><br>
    <p th:if="${emailExists}" class="error">Email exists on another account</p>

    <label for="password">Password</label><br>
    <input type="text" th:field="${user.password}" id="password" placeholder="Passowrd" required><br>

    <label for="mobile">mobile</label><br>
    <input type="text" th:field="${user.mobile}" id="mobile" placeholder="Email" required><br>


    <label for="dept">dept</label><br>
    <input type="text" th:field="${user.dept}" id="dept" placeholder="dept" required><br>

    <label for="credit">credit</label><br>
    <input type="text" th:field="${user.credit}" id="credit" placeholder="credit" required><br>

    <label for="role">role</label><br>
    <input type="text" th:field="${user.role}" id="role" placeholder="role" required><br>

    <label for="routine">routine</label><br>
    <input type="text" th:field="${user.routine}" id="routine" placeholder="routine"><br>

    <br>


    <input type="submit" value="Add User">
</form>



</body>


</html>