


<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Thymeleaf hello world</title>



</head>


<body>


<h1>ADMIN HOME</h1>
<p>Admin login success</p>


<h2>User Portal</h2>
<a th:href="@{/admin/user-portal}">Users</a>

<h2>Password Change Request</h2>
<a th:href="@{/admin/password-request}">Password Requests</a>

<h2>Course Portal</h2>
<a th:href="@{/admin/course-portal}">Courses</a>

<br>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>


</html>