


<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Thymeleaf hello world</title>



</head>


<body>



<form action="#" th:action="@{/admin/update-user/{id}(id=${user.id})}" th:object="${user}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

    <label for="email">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

    <label for="email">Mobile</label>
    <input type="text" th:field="*{mobile}" id="mobile" placeholder="Mobile">
    <span th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}"></span>

    <label for="email">Dept</label>
    <input type="text" th:field="*{dept}" id="dept" placeholder="Dept">
    <span th:if="${#fields.hasErrors('dept')}" th:errors="*{dept}"></span>

    <label for="email">Credit</label>
    <input type="text" th:field="*{credit}" id="credit" placeholder="Credit">
    <span th:if="${#fields.hasErrors('credit')}" th:errors="*{credit}"></span>

    <label for="email">Role</label>
    <input type="text" th:field="*{role}" id="role" placeholder="Role">
    <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>

    <label for="email">Routine</label>
    <input type="text" th:field="*{routine}" id="routine" placeholder="Routine">
    <span th:if="${#fields.hasErrors('routine')}" th:errors="*{routine}"></span>





    <input type="submit" value="Update User">
</form>


</body>


</html>