


<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<header th:insert="fragments.html :: nav"></header>

<div>
    <form th:action="@{/admin/admin-home}" method="GET">
        <button type="submit">Home</button>
    </form>
</div>

<div th:switch="${passwordrequests}">
    <h2 th:case="null">No Requests yet!</h2>
    <div th:case="*">
        <h2>Requests</h2>
        <table>
            <thead>
            <tr>
                <th>Email</th>
                <th>Password</th>
                <th>Confirm</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="passwordrequest : ${passwordrequests}">
                <td th:text="${passwordrequest.email}"></td>
                <td th:text="${passwordrequest.password}"></td>
                <td><a th:href="@{/admin/password-accept/{id}(id=${passwordrequest.id})}">Confirm</a></td>
                <td><a th:href="@{/admin/password-reject/{id}(id=${passwordrequest.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


</body>


</html>