<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="fragments.html :: headerfiles">

</head>
<body>
<header th:insert="fragments.html :: nav"></header>


<h1>STUDENT PANEL</h1>
<span th:text="${student.name}"></span> <span> &nbsp; &nbsp;</span>
<span th:text="${student.dept}"></span> <span> &nbsp; &nbsp;</span>
<span th:text="${student.email}"></span>

<H1>ROUTINE</H1>
<table border="2" cellspacing="3">
    <tr>
        <td>
        <td>SATURDAY
        <td>SUNDAY
        <td>MONDAY
        <td>TUESDAY
        <td>WEDNESDAY
        <td>THURSDAY

    </tr>

    <tr>
        <td>8.00 AM
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '8.00 AM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '8.00 AM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '8.00 AM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '8.00 AM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '8.00 AM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '8.00 AM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>

    </tr>
    <tr>
        <td>9.30 AM
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '9.30 AM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '9.30 AM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '9.30 AM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '9.30 AM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '9.30 AM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '9.30 AM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>

    </tr>
    <tr>
        <td>11.00 AM
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '11.00 AM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '11.00 AM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '11.00 AM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '11.00 AM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '11.00 AM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '11.00 AM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>

    </tr>
    <tr>
        <td>12.30 PM
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '12.30 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '12.30 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '12.30 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '12.30 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '12.30 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '12.30 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>

    </tr>
    <tr>
        <td>2.00 PM
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '2.00 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '2.00 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '2.00 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '2.00 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '2.00 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '2.00 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>

    </tr>
    <tr>
        <td>3.30 PM
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '3.30 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '3.30 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '3.30 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '3.30 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '3.30 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '3.30 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>

    </tr>
    <tr>
        <td>5.00 PM
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.saturday, '5.00 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.sunday, '5.00 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.monday, '5.00 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.tuesday, '5.00 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.wednesday, '5.00 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
        <td><span th:each="rou: ${routine}"><p th:if="${#strings.contains(rou.thursday, '5.00 PM')}"
                                               th:text="${rou.courseCode +'-'+ rou.section +'-'+ rou.faculty}"></span>
            <br>
    </tr>
</table>
<br/>
<h2>Advised Courses</h2>
<table>
    <thead>
    <tr>
        <th>Course Code</th>
        <th>Course Title</th>
        <th>Section</th>
        <th>Faculty</th>
        <th>Final Exam</th>
        <th>Drop</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rou : ${routine}">
        <div th:if="${rou.lab == 0}">
            <td th:text="${rou.courseCode}"></td>
            <td th:text="${rou.courseTitle}"></td>
            <td th:text="${rou.section}"></td>
            <td th:text="${rou.faculty}"></td>
            <td th:text="${rou.examTime}"></td>
            <td>
                <a th:href="@{'/teacher/student-panel/drop-course/' + ${student.id} +'/'+ ${rou.id}}">Drop</a>
            </td>
        </div>
    </tr>
    </tbody>
</table>





<h3>Find Non Clashing Section</h3>

<form th:action="@{/teacher/student-panel/{id}(id=${student.id})}">
    <input type="text" th:object="${courseCode}" name="courseCode"/>
    <input type="radio" th:object="${courseType}" name="courseType" value="0">Theory
    <input type="radio" th:object="${courseType}" name="courseType" value="1">Lab
    <input type="radio" th:object="${courseType}" name="courseType" value="2">Both
    <input type="submit" value="Find"/>
</form>

<p th:if="${flagCourseSearch == 'notFound'}" style="color: red">Course Not Found</p>
<p th:if="${flagCourseSearch == 'inputCourseType'}" style="color: red">Please Input Course Type</p>
<p th:if="${flagCourseSearch == 'courseNotAdvised'}" style="color: red">Course Not Advised</p>
<p th:if="${flagCourseSearch == 'swapSuccessful'}" style="color: green">Swap Successful</p>
<p th:if="${flagAvailableCourse == 'notFound'}" style="color: red" >Non clashing section unavailable</p>

<div th:if="${not #lists.isEmpty(advisableCourse) and flagAvailableCourse != 'notFound'}">
    <table id="customers">
        <thead>
        <tr>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Section</th>
            <th>Class Type</th>
            <th>Faculty</th>
            <th>Seat Status</th>
            <th>Final Exam</th>
            <th>Saturday</th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${advisableCourse}">
            <td th:text="${course.courseCode}"></td>
            <td th:text="${course.courseTitle}"></td>
            <td th:text="${course.section}"></td>
            <td th:text="${course.lab}"></td>
            <td th:text="${course.faculty}"></td>
            <td th:text="${course.seat}"></td>
            <td th:text="${course.examTime}"></td>
            <td th:text="${course.saturday}"></td>
            <td th:text="${course.sunday}"></td>
            <td th:text="${course.monday}"></td>
            <td th:text="${course.tuesday}"></td>
            <td th:text="${course.wednesday}"></td>
            <td th:text="${course.thursday}"></td>
            <td>
                <a th:href="@{'/teacher/student-panel/' + ${student.id} +'/'+ ${course.id} +'/'+ ${courseType}}">SWAP</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<h2>Advising</h2>

<form th:action="@{/teacher/student-panel/search} +'/'+${student.id}" th:object="${searchKey}">
    <input type="text" name="searchKey"/>
    <input type="submit" value="Search"/>
</form>
</br>
<p style="color: red" th:if="${courseAlreadyTaken}" class="error">Course already taken</p>
<p style="color: red" th:if="${courseLimit}" class="error">Credit limit reached</p>
<p style="color: red" th:if="${seatLimit}" class="error">Seats not available</p>

<p th:if="${#lists.isEmpty(courses)}" style="color: red" class="error">No courses found</p>

<div th:if="${not #lists.isEmpty(courses)}">
    <table id="customers">
        <thead>
        <tr>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Section</th>
            <th>Faculty</th>
            <th>Seat Status</th>
            <th>Final Exam</th>
            <th>Saturday</th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courses}">
            <td th:text="${course.courseCode}"></td>
            <td th:text="${course.courseTitle}"></td>
            <td th:text="${course.section}"></td>
            <td th:text="${course.faculty}"></td>
            <td th:text="${course.seat}"></td>
            <td th:text="${course.examTime}"></td>
            <td th:text="${course.saturday}"></td>
            <td th:text="${course.sunday}"></td>
            <td th:text="${course.monday}"></td>
            <td th:text="${course.tuesday}"></td>
            <td th:text="${course.wednesday}"></td>
            <td th:text="${course.thursday}"></td>
            <td>
                <a th:href="@{'/teacher/student-panel/add-course/' + ${student.id} +'/'+ ${course.id}}">Add</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>