<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<header th:insert="fragments.html :: nav"></header>


<h1>TEACHER HOME</h1>


<form th:action="@{/teacher/teacher-home}" th:object="${stdEmail}">
    <input type="text" name="stdEmail"/>
    <input type="submit" value="Find Student"/>
</form>


<p th:if="${flagStudentPresent == 'notFound'}" style="color: red">incorrect email</p>
<p style="color: red" th:if="${flagStudentPresent == 'notStudent'}">Not a student</p>


</body>


</html>