<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Thymeleaf hello world</title>


</head>


<body>


<form action="#" th:action="@{/request-password}" th:object="${user}" method="post">

    <label for="email">Email</label>
    <input type="text" th:field="${user.email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

    <label for="password">Password</label>
    <input type="password" th:field="${user.password}" id="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" placeholder="Password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

    <p>Confirm Password:</p>
    <input name="password_confirm" required="required" type="password" id="password_confirm" oninput="check(this)" />
    <script language='javascript' type='text/javascript'>
        function check(input) {
            if (input.value != document.getElementById('password').value) {
                input.setCustomValidity('Password Must Match.');
            } else {
                // input is valid -- reset the error message
                input.setCustomValidity('');
            }
        }
    </script>

    <input type="submit" value="submit">
</form>


</body>


</html>