<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Thymeleaf hello world</title>


</head>


<body>


<form action="#" th:action="@{/login}" th:object="${user}" method="post">

    <label for="email">Email</label>
    <input type="text" th:field="${user.email}" id="email" placeholder="Email">
    <p th:if="${wrongEmail}" class="error">Email address might be wrong</p>


    <label for="password">Password</label>
    <input type="password" th:field="${user.password}" id="password" placeholder="Password">

    <br>
    <p th:if="${wrongCredentials}" class="error">Wrong Password</p>
    <br>

    <input type="submit" value="Login">
</form>
<a th:href="@{/forgot-password}">forgot password</a>

</body>


</html>