<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Thymeleaf hello world</title>


</head>


<body>


<form name="f" th:action="@{/login}" th:object="${user}" method="post">


    <label for="email">Email</label><br>
    <input type="text" id="email" name="email" placeholder="Email" required><br>

    <label for="password">Password</label><br>
    <input type="password" id="password" name="password" placeholder="Password" required><br>

    <!----------------Thymeleaf + Spring Security error display ----------------->
    <div th:if="${param.error}" style="color: red">
        Wrong Credentials.
    </div>

    <div th:if="${param.logout}" style="color: red">
        You have been logged out.
    </div>

    <button type="submit">Log in</button>


</form>
<div>
    <input type="checkbox" id="remember-me" name="remember-me">
    <label for="remember-me">Remember me?</label>
</div>

<a th:href="@{/forgot-password}">forgot password</a>

</body>


</html>